.sidebar {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90px;
    height: calc(100vh - 80px);
}